# phpstorm project files
# .idea

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# Mac DS_Store Files
.DS_Store
._.DS_Store

# DEV
.vagrant
/_ENV
/config/codices/web.dev.php
/config/codices/test.dev.php
/config/common/main.dev.php
/config/common/test.dev.php
/config/console/console.dev.php
/config/console/test.dev.php
/build/server/config-local.yml
vkey.ppk

# PROD
/config/codices/web.prod.php
/config/common/main.prod.php
/config/console/console.prod.php

